
<section class="about-section">
  <h1 class="about-title">ЁЯПв ржЖржорж╛ржжрзЗрж░ рж╕ржорзНржкрж░рзНржХрзЗ</h1>
  <p>EMony ржПржХржЯрж┐ ржмрж┐рж╢рзНржмрж╕рзНржд ржЕржирж▓рж╛ржЗржи рж╢ржк, ржпрзЗржЦрж╛ржирзЗ ржЖржкржирж┐ ржШрж░рзЗ ржмрж╕рзЗржЗ ржкрзЗржпрж╝рзЗ ржпрж╛ржЪрзНржЫрзЗржи ржирж┐рждрзНржпржкрзНрж░ржпрж╝рзЛржЬржирзАржпрж╝ ржкржгрзНржп ржерзЗржХрзЗ рж╢рзБрж░рзБ ржХрж░рзЗ ржмрж┐ржЙржЯрж┐, ржлрзБржб, ржХрж╕ржорзЗржЯрж┐ржХрзНрж╕, рж╣рзЛржо ржбрзЗржХрзЛрж░, ржкрзНрж▓рж╛рж╕рзНржЯрж┐ржХ, ржХрж╛ржкржбрж╝ ржУ ржорж╕рж▓рж╛рж╕рж╣ ржмрж┐ржнрж┐ржирзНржи рж░ржХржорзЗрж░ ржХрзЛржпрж╝рж╛рж▓рж┐ржЯрж┐ ржкрзНрж░рзЛржбрж╛ржХрзНржЯред ржЖржорж╛ржжрзЗрж░ рж▓ржХрзНрж╖рзНржп тАФ рж╕рж╛рж╢рзНрж░ржпрж╝рзА ржорзВрж▓рзНржпрзЗ рж╕рзЗрж░рж╛ ржкржгрзНржпржЯрж┐ ржЖржкржирж╛рж░ ржжрзЛрж░ржЧрзЛржбрж╝рж╛ржпрж╝ ржкрзМржБржЫрзЗ ржжрзЗржУржпрж╝рж╛ред</p>
  <p>ржЖржорж░рж╛ рж╢рзБржзрзБржорж╛рждрзНрж░ ржкрзНрж░рзЛржбрж╛ржХрзНржЯ ржмрж┐ржХрзНрж░рж┐ ржХрж░рж┐ ржирж╛, ржЖржорж░рж╛ ржмрж┐рж╢рзНржмрж╛рж╕ ржЧржбрж╝рзЗ рждрзБрж▓рж┐ред</p>
  <ul>
    <li>тЬФ ржорж╛ржирж╕ржорзНржкржирзНржи ржкрзНрж░рзЛржбрж╛ржХрзНржЯ</li>
    <li>тЬФ ржжрзНрж░рзБржд рж╣рзЛржо ржбрзЗрж▓рж┐ржнрж╛рж░рж┐</li>
    <li>тЬФ ржЧрзНрж░рж╛рж╣ржХ рж╕рзЗржмрж╛ ржЖржорж╛ржжрзЗрж░ ржЕржЧрзНрж░рж╛ржзрж┐ржХрж╛рж░</li>
    <li>тЬФ рж╕рж╣ржЬ ржЕрж░рзНржбрж╛рж░ ржкрзНрж░ржХрзНрж░рж┐ржпрж╝рж╛ ржУ ржмрж┐рж╢рзНржмрж╕рзНрждрждрж╛</li>
  </ul>
  <p>ЁЯМР ржЖржорж╛ржжрзЗрж░ Facebook ржкрзЗржЬ :</p>
  <p>ЁЯУ▓ WhatsApp: <a href="https://wa.me/8801950137521" target="_blank">01950137521</a></p>

  <p class="brand-tagline">EMony тАФ ржЖржкржирж╛рж░ ржирж┐рж░рзНржнрж░ржпрзЛржЧрзНржп ржЕржирж▓рж╛ржЗржи┬арж╢ржкрж┐ржВ┬аржкрж╛рж░рзНржЯржирж╛рж░ред</p>
</section>


